.aboutme{
    
    &__items{ 
        display: flex;
        align-items: center;
        justify-content: center;

        &--image{
        }
       
        &--content{
            width: 700px;

            h1{
                font-size: 60px;
                color: #313926;
                text-align: center;
            }

            p{
                text-align: center;
                font-size: 30px;
            }
        }
    }

    
}