.footer {
    background-color: #313926;
    display: flex;
    padding: 0.5rem;

    &__content {
        display: flex;
        justify-content: center;
        color: wheat;
        width: 100%;

        &--social-media {
            display: flex;
            
            a{
                height: 35px;
                width: 35px;
            }
            a img {
                height: 100%;
                width: 100%;
            }

            :hover{
                border: #313926 1px solid;
            }
        }
    }
}