<div class="big-card">
    <div class="big-card__items">
        <div class="big-card__items__content">
            <a href="{{ projectLink }}" class="big-card__items__content--link">
                <div class="big-card__items__content--image">
                    <img src="{{ imagePath }}" alt="image project">
                </div>
                <div class="big-card__items__content--text">
                    <h1>{{ title }}</h1>
                    <br />
                    <p>{{ description }}</p>
                </div>
            </a>
        </div>
    </div>
</div>