<div class="aboutme">
    <div class="aboutme__items">
        <div class="aboutme__items--image">
            <img src="assets/tonny_tonny_chopper.png" alt="Hello">
        </div>
        <div class="aboutme__items--content">
            <h1> About Me :P</h1>
            <br />
            <p>
                As i said, your friendly neighbourhood developer... <br /><br />
                I'm a full-stack developer from Brazil.<br />
                My primary backend languages are C#, Java, and Rust.js, while I use Angular for frontend development.<br/>
                Additionally, I have experience with Docker, MySQL, and Azure.
                <br />
                <br />
                When I'm not coding, I enjoy watching One Piece whenever I get the chance. Also, I love singing in the
                shower!

                Feel free to explore my projects and get in touch if you'd like to collaborate or just have a chat about
                tech, anime, or music.
                <br />
                <br />
                Thanks for visiting my portfolio!
            </p>
        </div>
    </div>