.menu {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    &__items {
        display: flex;
        gap: 0 1rem;

        padding: 2rem 5rem;
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);

        &--title {
            margin-right: auto;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;
            color: #313926;
        }

        &--item {
            font-size: 2rem;
            font-weight: 600;
            padding: 1rem 2rem;

            a {
                text-decoration: none;
                color: black;
            }
        }

        &--selected {
            background-color: #313926;
            padding: 1rem 2rem;
            border-radius: 1rem;

            a {
                color: wheat;
            }
        }
    }

    &__footer {
        width: 100%;
    }
}

.menu__items--item:hover {
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #313926;
    padding: 1rem 2rem;
    
    a{
        color: wheat;
    }
}