<div class="skills">
    <div class="skills__items">
        <div class="skills__items--title">
            <h1>My skills...</h1>
        </div>
    
        <div class="skills__items--cards">
            <app-small-card text=".NET" 
                [description]="['Entity Framework', 'Web Api', 'ASP.NET']"
                imagePath="dotnet.png" 
                class="skills__items--card">
            </app-small-card>

            <app-small-card text="Java" 
                [description]="['Spring-boot', 'Web-flux', 'Quarkus', 'Hibernate']"
                imagePath="java.png" 
                class="skills__items--card">
            </app-small-card>

            <app-small-card text="Nest" 
                linkToProject="/skills"
                [description]="['Prisma', 'Web Api']"
                imagePath="nestjs.png" 
                class="skills__items--card">
            </app-small-card>

            <app-small-card text="Angular" 
                [description]="['Directives', 'Routes', 'Components', 'Pipes']"
                imagePath="angular.png" 
                class="skills__items--card">
            </app-small-card>

            <app-small-card text="MySQL" 
                [description]="[]"
                imagePath="mysql.png" 
                class="skills__items--card">
            </app-small-card>

            <app-small-card text="S.O.L.I.D" 
                [description]="['Single responsibility', 'Open/closed',
                              'Liskov substitution', 'Interface segregation',
                              'Dependency Inversion']"
                imagePath="solid.png" 
                class="skills__items--card">
            </app-small-card>
            <app-small-card text="Clean Arch" 
                [description]="['Presentation', 'Application', 'Infrasctructure', 
                                'Domain']"
                imagePath="cleanarch.png" 
                class="skills__items--card">
            </app-small-card>
    </div>
</div>